%table
  %thead
    %tr
      %th= Answer.human_attribute_name(:text)
      %th= "Qestion text"
      %th= "Правильный/неправльный ответ"
      %th Actions
  %tbody
    - @answers.each do |a|
      %tr
        %td= a.text
        %td= a.question.text
        %td= a.answer_value
        %td
          - if can? :destroy, a
            = link_to 'delete', question_answer_path(@question,a), method: :delete, data: { confirm: 'sure?' }, class: :'btn btn-small btn-danger'


= link_to 'New', new_question_answer_path, class: :'btn btn-success'
= link_to 'Назад', questions_path, class: :'btn btn-success'
