<!DOCTYPE html>
<html>
<head>
  <title>Zwitterion</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery.validate.min" %>
  <%= javascript_include_tag :defaults, "nested_form" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
   <div class="navbar-inner">
      <nav>
        <ul class="nav">
          <li>
            <%= link_to "Главная",       '/' %>
          </li>
          <li>
            <%= link_to "Новости",       '#' %>
          </li>
          <li>
            <%= link_to "Список тестов", questions_path %>
          </li>
          <li>
            <%= link_to "Рейтинг",       '#' %>
          </li>
        </ul>
      </nav>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="span2">
      <strong>
        Категории
      </strong>
      <br>
      Категорий пока нет.
    </div>
    <div class="span8">
      <%= "<p class='alert'>#{alert}</p>".html_safe if alert %>
      <%= "<p class='notice'>#{notice}</p>".html_safe if notice %>
      <%= yield %>
    </div>
    <div class="span2">
      <strong>
        Панель пользователя
      </strong>
      <% if user_signed_in? %>
      <div class="btn-group btn-group-vertical">
        <%= link_to 'Редактировать профиль', edit_user_registration_path, :method => 'get', class: :'btn btn-success' %>
        <%= link_to 'Выйти', destroy_user_session_path, :method => 'delete', class: :'btn btn-danger' %>
      </div>
      <% else %>
        <%= render template: 'devise/sessions/new' %>
      <% end %>
    </div>
  </div>
</div>
</br>
</body>
</html>
